.menu-item-button::after {
  content: " ";
  display: block;
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: transparent;
  bottom: 50%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  z-index: -1;
}

.menu-item-button:hover::after,
.menu-item-button[data-active="true"]::after {
  background-color: white;
  transform: scaleX(1);
}

.menu-item-button .chevron-indicator {
  transition: opacity 0.3s ease;
}

.menu-item-button:hover .chevron-indicator,
.menu-item-button[data-active="true"] .chevron-indicator {
  opacity: 0;
}
