
[data-sidebar="menu-item"] .nav-primary__action::after {
    content: " ";
    display: block;
    height: 1px;
    width: 0;
    background-color: hsl(var(--primary));
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transition: width 0.3s cubic-bezier(0.65, 0, 0.35, 1);
    pointer-events: none;
}

[data-sidebar="menu-item"] .nav-primary__action.active::after,
[data-sidebar="menu-item"] .nav-primary__action:hover::after,
[data-sidebar="menu-item"] .nav-primary__action[data-state="open"]::after {
    width: 100%;
    left: 0;
    right: auto;
}
