---
import Card from '@/components/ui/Card/Card';
import Icon from '@/components/ui/Icon/Icon';

export interface Stat {
  icon: string;
  count: string;
  label: string;
}

export interface Props {
  statsData: Stat[];
}

const { statsData } = Astro.props;
---
<section class="py-20 bg-gray-100">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      {statsData.map(stat => (
        <Card className="text-center p-8">
          <Icon name={stat.icon} size={48} className="text-brand-secondary mx-auto mb-4" client:load />
          <p class="text-5xl font-extrabold text-brand-primary">{stat.count}</p>
          <p class="text-xl font-semibold mt-2">{stat.label}</p>
        </Card>
      ))}
    </div>
  </div>
</section>
