.logoLink {
  display: block;
  margin: 0 auto; /* Pusatkan logo */
}

.logo {
  height: auto;
  max-height: 40px; /* Ukuran logo maksimum */
  width: auto;
  transition: filter 0.2s ease;
}

.logo:hover {
  filter: brightness(1.1); /* Efek hover ringan */
}
