---
import { galleryImages } from '../../data/gallery.ts';
---

<section id="gallery" class="section-padding bg-light-grey">
  <div class="container mx-auto px-spacing-md">
    <div class="mb-spacing-lg flex items-end justify-between">
      <div class="mx-auto max-w-2xl text-center">
        <span class="text-overline text-primary">
          Galeri
        </span>
        <h2 class="text-title text-brand-black my-spacing-sm">
          Kegiatan Kampus
        </h2>
      </div>
    </div>
  </div>
  <div class="swiper gallery-swiper">
    <div class="swiper-wrapper">
      {galleryImages.map(image => (
        <div class="swiper-slide">
          <img src={image.src} alt={image.alt} class="rounded-lg" />
        </div>
      ))}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import { Pagination } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/pagination';

  const gallerySwiper = new Swiper('.gallery-swiper', {
    slidesPerView: 1,
    spaceBetween: 10,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 50,
      },
    },
    modules: [Pagination],
  });
</script>