---
import { heroSwiperSlides, swiperImages } from '../../data/homepage.ts';
import Button from '../ui/Button.astro';
---

<section id="home" class="section-padding bg-white bg-cover bg-no-repeat" style="background-image: url(/images/other/bg-lines-1.svg);">
  <div class="relative grid grid-cols-1 items-center xl:grid-cols-5">
    <div class="relative z-10 order-2 -mt-spacing-xl p-spacing-md xl:order-none xl:col-span-2 xl:-me-spacing-xl xl:mt-0 xl:p-0">
      <div class="mx-auto max-w-xl rounded-lg bg-white xl:me-0 xl:ms-auto">
        <div class="p-spacing-md">
          <div class="swiper mySwiper2 relative">
            <div class="swiper-wrapper">
              {heroSwiperSlides.map(item => (
                <div class="swiper-slide">
                  <div class="flex flex-col items-start justify-end xl:h-full">
                    <span class="text-overline text-primary">{item.title}</span>
                    <h2 class="text-display text-brand-black mt-spacing-md md:text-4xl/snug">{item.name}</h2>
                    <p class="text-body-large text-brand-black mb-spacing-lg mt-spacing-md md:w-3/4">{item.description}</p>
                    <Button href="https://pmb.stiedwimulya.ac.id" variant="primary" size="lg" className="font-montserrat">
                      Info PMB
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
                    </Button>
                  </div>
                </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-1 xl:order-none xl:col-span-3">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {swiperImages.map(image => (
            <div class="swiper-slide relative">
              <img src={image} alt="heroImg" class="h-full w-full" />
              <div class="absolute inset-0 bg-black/25"></div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from 'swiper';
  import { Thumbs, Controller, Autoplay, EffectFade } from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/effect-fade';

  const thumbsSwiper = new Swiper(".mySwiper", {
    loop: false,
    spaceBetween: 0,
    slidesPerView: 1,
    effect: "fade",
    watchSlidesProgress: true,
  });

  const mainSwiper = new Swiper(".mySwiper2", {
    loop: true,
    spaceBetween: 10,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false,
    },
    thumbs: {
      swiper: thumbsSwiper,
    },
    modules: [Thumbs, Controller, Autoplay],
  });
</script>