---
import { studyPrograms } from '../../data/studyPrograms.ts';
---

<section id="study-programs" class="py-10 lg:py-20">
  <div class="container mx-auto px-4">
    <div class="mb-10 flex items-end justify-between">
      <div class="mx-auto max-w-2xl text-center">
        <span class="rounded-md border border-primary bg-primary/20 px-3 py-1 text-xs font-medium uppercase tracking-wider text-primary">
          Program Studi
        </span>
        <h2 class="my-4 text-4xl font-medium capitalize text-default-950">
          Program Studi Unggulan
        </h2>
        <p class="text-base">
          Pilih program studi yang sesuai dengan minat dan bakat Anda.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 items-center divide-y divide-default-200 overflow-hidden rounded-md bg-default-100 dark:bg-default-50 lg:grid-cols-3 lg:divide-x lg:divide-y-0">
      {studyPrograms.map(program => (
        <div class="group">
          <div class="p-8 sm:p-10">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-14 w-14 text-default-950"><path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5"/><path d="M2 12l10 5 10-5"/></svg>
            </span>
            <h2 class="mb-4 mt-8 text-2xl font-medium text-default-950">
              {program.title}
            </h2>
            <p class="mb-6 text-base">{program.description}</p>
            <a href={`/program-studi/${program.title.toLowerCase()}`} class="text-lg text-default-950">
              Selengkapnya
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline-block h-6 w-6 opacity-0 transition-all duration-500 will-change-transform group-hover:translate-x-2 group-hover:opacity-100"><path d="M7 7h10v10"/><path d="M7 17 17 7"/></svg>
            </a>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
