---
import KinseyLayout from '../components/layouts/KinseyLayout.astro';
import HeroSlider from '../components/interactive/HeroSlider.tsx';
import InfiniteTicker from '../components/interactive/InfiniteTicker.tsx';
import KeunggulanProgramStudi from '../components/sections/KeunggulanProgramStudi.astro';
import InisiatifKampus from '../components/sections/InisiatifKampus.astro';
import TestimoniCivitas from '../components/sections/TestimoniCivitas.astro';
import PertanyaanUmum from '../components/sections/PertanyaanUmum.astro';
import BeritaTerbaru from '../components/sections/BeritaTerbaru.astro';
---

<KinseyLayout title="STIE Dwimulya - Beranda">
  <HeroSlider client:load />
  <section>
    <InfiniteTicker client:load keywords={['Ekonomi', 'Manajemen', 'Akuntansi', 'Bisnis', 'Inovasi', 'Kewirausahaan']} />
  </section>
  <KeunggulanProgramStudi />
  <InisiatifKampus />
  <TestimoniCivitas />
  <PertanyaanUmum />
  <BeritaTerbaru />
</KinseyLayout>
