
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%; /* #F8F8F8 - Putih Pudar */
    --foreground: 220 13% 13%; /* #1c1c21 - Hitam Brand Gelap (sedikit diubah dari #222222) */
    
    --card: 0 0% 100%; /* White */
    --card-foreground: 220 13% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 13% 13%;

    --primary: 215 100% 14%; /* #002147 - Biru Oxford */
    --primary-foreground: 0 0% 97%; /* Putih Pudar */

    --secondary: 45 74% 52%; /* #DAA520 - Golden Rod */
    --secondary-foreground: 215 100% 14%; /* Biru Oxford */

    --muted: 220 9% 94%;
    --muted-foreground: 220 9% 45%;

    --accent: 45 74% 57%; /* Golden Rod lebih terang untuk hover */
    --accent-foreground: 215 100% 14%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 9% 89%;
    --input: 220 9% 89%;
    --ring: 45 74% 52%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 13%;
    --foreground: 0 0% 97%;
    
    --card: 220 13% 15%;
    --card-foreground: 0 0% 97%;

    --popover: 220 13% 13%;
    --popover-foreground: 0 0% 97%;

    --primary: 0 0% 97%;
    --primary-foreground: 220 13% 13%;

    --secondary: 45 74% 52%;
    --secondary-foreground: 220 13% 13%;

    --muted: 220 13% 20%;
    --muted-foreground: 0 0% 80%;

    --accent: 45 74% 57%;
    --accent-foreground: 220 13% 13%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 25%;
    --input: 220 13% 25%;
    --ring: 45 74% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .ease-menu {
        transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    }
}
