@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
  :root {
    --font-body: 'Work Sans', sans-serif;
    --font-headline: 'Work Sans', sans-serif;
    --font-article: 'Source Serif Pro', serif;
    --font-mono: 'Roboto Mono', monospace;
  }
}
